.scoreboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.scoreboard p {
  font-family: monospace;
  border: 2px gray solid;
  padding-left: 1ch;
  padding-right: 1ch;
}

.holes {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 7rem;
  gap: 1rem;
  padding: 1rem;
  max-width: 30rem;
  margin: 0 auto;
}

.hole {
  background: url("/hole.png") no-repeat center/contain;
}

.mole {
  background: url("/mole.png") no-repeat center/contain;
}

.mole:hover {
  cursor: pointer;
}

.hole,
.mole {
  width: 10rem;
  height: 10rem;
}
