.scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.holes {
  display: grid;
  grid-template-columns: repeat(3, 225px);
}

.hole,
.mole {
  width: 225px;
  height: 250px;
}
