.scoreboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.scoreboard p {
  font-family: monospace;
  border: 2px gray solid;
  padding-left: 1ch;
  padding-right: 1ch;
}

.holes {
  display: grid;
  grid-template-columns: repeat(3, 225px);
}

.hole,
.mole {
  width: 225px;
  height: 250px;
}
