* {
  margin: 0;
}

.hole {
  background: url("/hole.png") no-repeat center/contain;
}

.mole {
  background-image: url("/mole.png");
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

button {
  border: 2px gray solid;
}
