* {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

button {
  background-color: white;
  border: 2px gray solid;
  font-family: monospace;
}

button:hover {
  background-color: rgb(209, 209, 209);
}
